@import "tailwindcss/base";
/* @import "./base.css"; */

@import "tailwindcss/components";
@import "./components.css";
/* @import "./custom-components.css"; */

@import "tailwindcss/utilities";
/* @import "./custom-utilities.css"; */

/*** APPLY ***/
.form-input {
  @apply relative block w-full transition ease-in-out duration-150;
}

.form-input:focus {
  @apply z-10;
}

@screen sm {
  .form-input {
    @apply text-sm leading-5;
  }
}

/***** CUSTOM *****/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form .fieldset {
  margin-top: 1.5rem;
}

form .fieldset:first-child {
  margin-top: 0;
}

/* .Mui-focused .MuiInput-root {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
  border-color: #a4cafe;
} */

/*** Plugins override  ***/
.uppy-Root {
  @apply font-sans;
}
